In [1]:
class School:
  def __init__(self, name, school, grade):
    self.name = name
    self.school = school
    self.grade = grade
  def info(self):
    print("Name : {}".format(self.name))  
name = input("이름 : ")
school = input("학교 : ")
grade = int(input("학년 : "))

person1 = School(name, school, grade)
person1.info()

이름 : 황유정
학교 : qhfakf
학년 : 6
Name : 황유정

In [2]:
class School:
  def __init__(self, school = "Jejuelementary", grade= "6학년"):
    self.school = school
    self.grade = grade
  def info(self):
    print("{} grade in {} school".format(self.grade, self.school))  


person1 = School()
person2 = School("seoulelementary", "3학년")
person1.info()
person2.info()

6학년 grade in Jejuelementary school
3학년 grade in seoulelementary school